# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

icon.d.ts
*.cache
/.vs/Luci101122.github.io/FileContentIndex/4537ac1d-57eb-4d1f-8523-9f6b5d102d4d.vsidx
/.vs/Luci101122.github.io/FileContentIndex/93d10a60-f5d3-4860-8ba5-80e841de1944.vsidx
/.vs/Luci101122.github.io/FileContentIndex/4966f722-eadb-4706-ac10-5d12622bdd2a.vsidx
/.vs/Luci101122.github.io/FileContentIndex/b7ead3a9-313d-44d0-b2ec-b18515ee465d.vsidx
/.vs/Luci101122.github.io/FileContentIndex/cc0bacdc-5a6b-4702-a83c-130e9152e90a.vsidx
/.vs/Luci101122.github.io/FileContentIndex/61a414d6-d8e7-4f9e-a0d5-ea5aea913fb7.vsidx
/.vs/Luci101122.github.io/FileContentIndex/e08cd06e-07f8-4a58-9657-77003aa75bd6.vsidx
/.vs/Luci101122.github.io/FileContentIndex/1b92b4f4-733d-43b8-bce6-fefd49d58ce4.vsidx
/.vs/Luci101122.github.io/FileContentIndex/aaaa57c0-10bb-428d-b588-4dc63ae6c40c.vsidx
/.vs/Luci101122.github.io/FileContentIndex/1b2fd028-31ec-466b-b1ea-362abb69b358.vsidx
/.vs/Luci101122.github.io/FileContentIndex/0232654c-952f-43f1-8b1e-8f7ee57d2134.vsidx
/.vs/Luci101122.github.io/FileContentIndex/eecc2dff-05d3-4b7f-b15f-08e8729b01c6.vsidx
/.vs/Luci101122.github.io/FileContentIndex/317fdb5d-6195-4909-bde7-e7e7a1b7cd1c.vsidx
/.vs/Luci101122.github.io/FileContentIndex/247d00fa-ecc1-4e2e-b1ef-46042db00f53.vsidx
/.vs/Luci101122.github.io/FileContentIndex/5f6e622b-3ace-479d-84cd-c076c49686db.vsidx
*.vsidx
