---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Overwhelmed by deadlines?</h2>
			<p>
				We're the lifeline you need.
			</p>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Services</h2>
			<p>
				We are catering Academic Assistance in Primary, Secondary, and Higher Education.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="#" title="Academic Works" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="#" title="Online Tutoring" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="#" title="Data Encoding" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="#"
					title="Device Repairs"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
